<h2 class="support-title">Guminar</h2>
<div class="article-content">

	<p>Welcome to our New Creator Chat! This is our weekly venue for new creators in the Gumroad community to get your questions answered and learn best practices from members of the Gumroad team. 
	</p>

	<p>We'll explain the basics of Gumroad, and show you a step-by-step guide to setting up your account, adding your first product, and answering any questions you may have. </p>

	<p>Once the webinar begins, feel free to ask questions in the chat box you see on your screen, and we will answer them at the end of the webinar. If your question isn't answered, our support team is always standing by on <a href="twitter.com/GumroadHelp">Twitter</a> and <a href="mailto:support@gumroad.com">email</a>.
	</p>

	<a style='text-decoration:none' href="https://gum.co/GJWn/asdf">
		<button style='width: 100%' class='button-primary button-block'>
			Register now
		</button>
	</a>
	<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>

</div>